---
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.8.19
    hooks:
      - id: uv-lock

  - repo: https://github.com/astral-sh/ruff-pre-commit
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --ignore=E731,E501,W605,T201,UP007
            # See https://beta.ruff.rs/docs/rules for an overview of ruff rules
          - --select=E,W,F,I,T,RUF,TID,UP
          - --fixable=E,W,F,I,T,RUF,TID,UP
          - --target-version=py310
      - id: ruff-format
    rev: v0.13.1

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
    - id: markdownlint
    
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0 # Use the latest stable version
    hooks:
      - id: end-of-file-fixer

# Mypy must be run in the local system environment, not in the pre-commit environment.
  - hooks:
    - id: mypy
      name: mypy
      entry: dmypy run -- cognite_toolkit/ --config-file pyproject.toml
      files: ^.*.(py|pyi)$
      language: system
      pass_filenames: false
    repo: local
