[cdf]
default_organization_dir = "cognite_toolkit"
#default_env = "dev"
file_encoding = "utf-8"

[alpha_flags]
graphql = true
import-cmd = true
module-repeat = true
profile = true
infield = true
migrate = true
streams = true
create = true
extend-download = true
extend-upload = true

[plugins]
run = true
dump = true
dev = true
data = true

[modules]
# This is the version of the modules. It should not be changed manually.
# It will be updated by the 'cdf modules upgrade' command.
version = "0.0.0"


[library.toolkit-data]
url = "https://github.com/cognitedata/toolkit-data/releases/download/latest/packages.zip" 
checksum = "sha256:b70c207a78d6c94e0977a733571420b250ca641ac8802d8310f1ffe05bf7b2eb"
