[cdf]
default_organization_dir = "cognite_toolkit"
#default_env = "dev"

[alpha_flags]
graphql = true
import-cmd = true
module-repeat = true
dump-extended = true
populate = true

[plugins]
run = true
purge = true
dump = true

[modules]
# This is the version of the modules. It should'n be changed manually.
# It will be updated by the 'cdf module upgrade' command.
version = "0.4.6"
