[tool.poetry]
name = "cognite_toolkit"
version = "0.1.0b2"
description = "Official Cognite Data Fusion tool for project templates and configuration deployment"
authors = ["Cognite AS <support@cognite.com>"]
license = "Apache-2"
readme = "README.md"
packages = [{include = "cognite_toolkit", from = "."}]
include = ["cognite_toolkit/*", "cognite_toolkit/**/*"]

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
python-dotenv = "^1.0.0"
cognite-sdk = {version = "^7.5.4", extras = ["pandas"]}
pandas = "^2.1.1"
pyyaml = "^6.0.1"
dacite = "^1.8.1"
regex = "^2023.6.3"
chardet = "^5.1.0"
typer = {version = "^0.9.0", extras = ["all"]}
pytest-icdiff = "*"  # Used for better diffs in pytest

[tool.poetry.group.dev.dependencies]
mypy = "^1.7.1"
pre-commit = "^3.6.0"
pytest = "^7.4.2"
pep8-naming = "^0.13.3"
pytest-regressions = "^2.4.2"
twine = "^4.0.2"
tomli = { version = "^2.0.1", python = "<3.11" }
toml = { version = "^0.10.2", python = ">=3.11" }

[tool.poetry.scripts]
cdf-tk = "cognite_toolkit.cdf:app"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
