name: Toolkit Dry Run

on:
  pull_request:

jobs:
  build-modules:
    runs-on: ubuntu-latest
    # refers to the Environment concept in GitHub
    environment: dev
    name: Deploy Dry Run
    container:
      image: cognite/toolkit:0.3.28
      env:
        CDF_CLUSTER: ${{ vars.CDF_CLUSTER }}
        CDF_PROJECT: ${{ vars.CDF_PROJECT }}
        IDP_CLIENT_ID: ${{ vars.IDP_CLIENT_ID }}
        IDP_CLIENT_SECRET: ${{ secrets.IDP_CLIENT_SECRET }}
        IDP_TENANT_ID: ${{ vars.IDP_TENANT_ID }}
    steps:
      - uses: actions/checkout@v4
      - name: Build the modules
        run: cdf build
      - name: Dry Run the modules deployment
        run: cdf deploy --dry-run
