# NOTE!!! If you do not have an existing data set with asset data, you need to create one for
# each Infield location. Rename this file to .yaml and change the configuration to match your data set.
# 
- externalId: ds_asset_{{default_location}}
  name: asset:{{default_location}}
  description: This dataset contains asset data for the {{default_location}} location.
