name: Deploy modules to demo project
on:
  push:
    branches:
      - main
env:
  PYTHON_VERSION: '3.10'


jobs:
  build-modules:
    runs-on: ubuntu-latest
    environment: dev
    env:
        CDF_CLUSTER: ${{ secrets.CDF_CLUSTER }}
        CDF_PROJECT: ${{ secrets.CDF_PROJECT }}
        IDP_CLIENT_ID: ${{ secrets.IDP_CLIENT_ID }}
        IDP_CLIENT_SECRET: ${{ secrets.IDP_CLIENT_SECRET }}
        IDP_TOKEN_URL: ${{ secrets.IDP_TOKEN_URL }}
        LOGIN_FLOW: client_credentials
    name: Loadmaster
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install dependencies
        run: |
          pip install uv
          uv sync --all-extras
      - name: Build the package
        run: uv build
      - name: Initialize project
        run: uv run cdf modules init demo_project --clean --all
      - name: "Pre-processing for demo environment"
        run: uv run python ./demo/preproc.py
      - name: "Not collect metrics"
        run: uv run cdf collect opt-out
      - name: "Build the templates"
        run: uv run cdf build --env demo -o ./demo_project
      - name: "Verify and create access rights"
        run: uv run cdf auth verify --no-prompt
      - name: "Deploy the templates"
        run: |
          uv run cdf deploy --env demo
