name: Release Toolkit
on:
  push:
    branches:
      - main
env:
  PYTHON_VERSION: '3.11'

jobs:
  release-pypi-docker-hub:
    runs-on: ubuntu-latest
    environment: CD
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install dependencies
        run: |
          pip install uv
          uv sync --all-extras
      - name: Dump last commit message to file
        run: git log -1 --pretty=%B > last_git_message.txt
      - name: Dump last tag to file
        run: git describe --tags --abbrev=0 > last_version.txt
      - name: Bump Version
        run: uv run python dev.py bump --verbose
      - id: version
        name: Read the new version
        # Read the version from the cognite_toolkit/_version.py file
        run: echo "version=$(sed -n 's/^__version__ = "\(.*\)"/\1/p' cognite_toolkit/_version.py)" >> $GITHUB_ENV
      - name: Create CHANGELOG entry
        if: env.version != '0.0.0'
        run: uv run python dev.py changelog
      - name: Build package
        if: env.version != '0.0.0'
        run: uv build
      - name: Release to PyPI
        if: env.version != '0.0.0'
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: uv run twine upload --skip-existing --verbose dist/*
      - name: Add entry to CHANGELOG
        if: env.version != '0.0.0'
        uses: ncipollo/release-action@bcfe5470707e8832e12347755757cec0eb3c22af # v1
        with:
            token: ${{ secrets.GITHUB_TOKEN }}
            prerelease: false
            draft: false
            tag: ${{ env.version }}
            bodyFile: last_changelog_entry.md

      - name: Login to Docker Hub
        if: env.version != '0.0.0'
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        if: env.version != '0.0.0'
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Build and push
        if: env.version != '0.0.0'
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64/v8
          push: true
          tags: cognite/toolkit:${{ env.version }}, cognite/toolkit:latest
